/*********************************************************************************************************
  Custom Theming for Angular Material
  For more information: https://material.angular.io/guide/theming
 *********************************************************************************************************/

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-theme-app-primary: mat-palette($mat-indigo);
$custom-theme-app-accent: mat-palette($mat-pink, 300, 200, 400);

// The warn palette is optional (defaults to red).
$custom-theme-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$custom-theme-app-theme: mat-light-theme(
  (
    color: (
      primary: $custom-theme-app-primary,
      accent: $custom-theme-app-accent,
      warn: $custom-theme-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme-app-theme);

/*********************************************************************************************************
  * Custom Typography for Angular Material
  * For more information on Angular Material typography: https://material.angular.io/guide/typography
  *********************************************************************************************************/
// Define a custom typography config that overrides the font-family, font-size, line-height, ...
$custom-typography: mat-typography-config(
  $font-family: 'Gibson, Roboto, "Helvetica Neue", sans-serif',
  $body-1: mat-typography-level(16px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

/*********************************************************************************************************
  * Custom Style
  *********************************************************************************************************/

// Angular Material is missing margin and padding utility classes.
// Here is a mixin example to generate margin classes
@mixin spacing($prefix, $property) {
  $sizes: (0, 0.25, 0.5, 1, 1.5, 3);
  $spacing: 1rem;
  @for $i from 1 through length($sizes) {
    $size: nth($sizes, $i);
    .#{$prefix}-#{$i - 1} {
      #{$property}: $spacing * $size !important;
    }
  }
}

$rules: (
  mb: margin-bottom,
  mt: margin-top,
  ml: margin-left,
  mr: margin-right,
  pb: padding-bottom,
  pt: padding-top,
  pl: padding-left,
  pr: padding-right,
);

@each $prefix, $prop in $rules {
  @include spacing($prefix, $prop);
}

html,
body {
  height: 100%;
}