.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #333357;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e5e8e8;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-bottom: 4rem;
}

.App-header ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.App-header li {
  display: inline-block;
  margin: 0 10px;
}

.App-header h6 {
  padding-top: 2rem;
}

.App-header a {
  color: #1cebcf;
}

.logo-container {
  margin: 2rem;
}
