# Verdaccio configuration
#   - Look here for information about this file:
#       https://verdaccio.org/docs/en/configuration.html
#   - Look here for more config file examples:
#       https://github.com/verdaccio/verdaccio/tree/master/conf

# path to a directory with all packages
# TODO CDX-727: Sort out the verdaccio config shenanigans
# Use this one for local tests:
# storage: /verdaccio/storage/data
# Use this one for CI (leave uncommented in PR)
storage: ./storage/data
# path to a directory with plugins to include
# TODO CDX-727: Sort out the verdaccio config shenanigans
# Use this one for local tests:
# plugins: /verdaccio/plugins
# Use this one for CI (leave uncommented in PR)
plugins: ./plugins
web:
  enable: false
  title: Verdaccio

auth:
  htpasswd:
    # TODO CDX-727: Sort out the verdaccio config shenanigans
    # Use this one for local tests:
    # plugins: /verdaccio/storage/htpasswd
    # Use this one for CI (leave uncommented in PR)
    file: ./storage/htpasswd

# a list of other known registries we can talk to
uplinks:
  npmjs:
    url: https://registry.npmjs.org/

packages:
  # All templates packages and the search-token-server are published and fetched from Verdaccio
  # No uplink is allowed, so if it ain't published on Verdaccio, it'll fail.
  '@coveo/@(angular|vue-cli-plugin-typescript|cra-template|search-token-server|create-atomic|search-token-lambda)':
    access: $all
    publish: $all
    unpublish: $all

  # For any other packages, we try verdaccio first (it does some caching)
  # Otherwise, it tries npmjs.
  '**':
    access: $all
    publish: $all
    unpublish: $all
    proxy: npmjs

middlewares:
  audit:
    enabled: true

# log settings
logs:
  - {type: stdout, format: pretty, level: trace}
