ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

p {
  margin: 0;
}

.hero {
  color: #e5e8e8;
  background-color: #333357;
  text-align: center;
  padding: 3rem 0 1rem;
}

a {
  text-decoration: none;
}
