name: Build
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      PLATFORM_USER_NAME: ${{ secrets.PLATFORM_USER_NAME }}
      PLATFORM_USER_PASSWORD: ${{ secrets.PLATFORM_USER_PASSWORD }}
    steps:
      - name: Setup runner
        # Ensure we can use as many file watcher as we want. see https://github.com/facebook/create-react-app/blob/master/docusaurus/docs/troubleshooting.md#npm-start-fail-due-to-watch-error
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Setup repo
        run: npm run setup
      - name: Check linting
        run: npm run lint
      - name: Tests
        run: npm run test
      - name: Build CLI
        working-directory: ./packages/cli
        run: tsc -b
      - name: End-to-end Tests
        working-directory: ./packages/cli-e2e
        run: |
          export DISPLAY=:1
          Xvfb :1 -screen 0 1024x768x16 & sleep 1
          google-chrome --no-first-run --remote-debugging-port=9222 --disable-dev-shm-usage --window-size=1080,720 & \
          npm run test-e2e
          npm run jest
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: test-artifacts
          path: ./packages/cli-e2e/artifacts
