name: Build binaries

on:
  push:
    branches:
      - CDX-152

jobs:
  package:
    name: Package for ${{ matrix.for }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          #- os: macos-latest
          #  pack-command: :macos
          #  additional-install: echo "no additional install"
          #  for: 'macos install kit'
          - os: windows-latest
            pack-command: :win
            for: 'windows install kit'
            additional-install: echo "no additional install"
          #- os: ubuntu-latest
          #  pack-command: :deb
          #  additional-install: echo "no additional install"
          #  for: 'linux install kit'
          #- os: ubuntu-latest
          #  pack-command: ''
          #  additional-install: echo "no additional install"
          #  for: 'tarball'

    steps:
      - uses: Vampire/setup-wsl@v1
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Setup
        run: npm run setup
      - name: Additional install
        run: ${{ matrix.additional-install }}
      - name: Create package
        working-directory: ./packages/cli
        run: ./node_modules/@oclif/dev-cli/bin/run pack${{ matrix.pack-command }}
      - name: Upload binaries
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./packages/cli/dist/**/*
          file_glob: true
          tag: v0.5.0
