name: Build binaries

on:
  push:
    branches:
      - main
    tags:
      - v*
jobs:
  package:
    name: Package for ${{ matrix.pack-command }}
    needs: create-release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            pack-command: macos
            additional-install: echo "no additional install"
          - os: ubuntu-latest
            pack-command: win
            additional-install: sudo apt-get install nsis p7zip-full -y

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Setup
        run: npm run setup
      - name: Additional install
        run: ${{ matrix.additional-install }}
      - name: Create package
        working-directory: ./packages/cli
        run: npx @oclif/dev-cli pack:${{ matrix.pack-command }}
      - name: Upload binaries
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./packages/cli/dist/${{ matrix.pack-command }}/**/*
          file_glob: true
          tag: ${{ needs.create-release.outputs.tag }}