name: Merge Bot JS

on:
  issue_comment:
    types: [edited]
  pull_request:
    types: [opened]

jobs:
  Merge:
    if: ${{ github.event_name == 'pull_request' || github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      - name: Run the Bot
        run: npx @coveo/merge-bot
