name: Merge Bot JS

on:
  issue_comment:
    types: [edited]
  pull_request:
    types: [opened]

jobs:
  Merge:
    if: ${{ github.event_name == 'pull_request' || github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      - name: Run the Bot
        run: npx @coveo/merge-bot
