name: 'package-lock.json version validator'

on:
  push:
    branches: [master]
    paths:
      - 'package-lock.json'
  pull_request:
    branches: [master]
    paths:
      - 'package-lock.json'

permissions:
  contents: read

jobs:
  lockfile-version:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Check lockfileVersion of all package-lock.json
        run: node scripts/check-lockfile-versions.js $(find ./ -xdev -wholename '**/package-lock.json')
