name: 'package-lock.json version validator'

on:
  push:
    branches: [master]
    paths:
      - 'package-lock.json'
  pull_request:
    branches: [master]
    paths:
      - 'package-lock.json'

jobs:
  lockfile-version:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3
      - name: Check lockfileVersion of all package-lock.json
        run: node scripts/check-lockfile-versions.js $(find ./ -xdev -wholename '**/package-lock.json')
