name: PR Robot
on:
  - pull_request

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      GITHUB_CREDENTIALS: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - run: npm i
      - run: npm run pr:report
