name: Create release
on:
  workflow_dispatch:
    inputs:
      version:
        description: '⚠ be sure of yourself ⚠'
        required: false
        default: ''

jobs:
  release:
    environment: 'Release'
    runs-on: ubuntu-latest
    env:
      GITHUB_CREDENTIALS: ${{ secrets.CLI_RELEASE }}
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2
        with:
          # pulls all commits (needed for computing the next version)
          # see https://stackoverflow.com/a/60184319/9285308 & https://github.com/actions/checkout
          fetch-depth: 0
      # pulls all commits (needed for computing the next version)
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* # see https://stackoverflow.com/a/60184319/9285308
      - uses: actions/setup-node@1f8c6b94b26d0feae1e387ca63ccbdc44d27b561 # renovate: tag=v2
        with:
          node-version: '16'
      - run: npm run setup
      - name: Setup credentials
        run: |
          git config --global user.email action@github.com
          git config --global user.name GitHub Action
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - name: Snyk test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          npx snyk monitor --dev --all-projects
          npx snyk test --dev --all-projects
      - name: Snyk code
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: npx snyk code --dev --all-projects
      - name: Setup git SSH remote
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "${DEPLOY_KEY}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa
          echo "Host coveo-cli" > ~/.ssh/config
          echo "Hostname github.com" >> ~/.ssh/config
          echo "PreferredAuthentications publickey" >> ~/.ssh/config
          echo -n "IdentityFile " >> ~/.ssh/config
          echo -n ~ >> ~/.ssh/config
          echo "/.ssh/id_rsa" >> ~/.ssh/config
          git remote set-url origin git@coveo-cli:coveo/cli.git
      - name: Release
        run: npm run release
      # TODO: move it to the npm script
      # - name: Create GitHub release.
      #   run: npm run release:changelog
