name: Create release
on:
  workflow_dispatch:
    inputs:
      version:
        description: '⚠ be sure of yourself ⚠'
        required: false
        default: ''
      debug:
        description: 'Add DEBUG=* to the env if true'
        type: boolean
        default: false
        required: false

jobs:
  snyk:
    runs-on: macos-latest
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      NODE_OPTIONS: --max-old-space-size=8192
      GITHUB_CREDENTIALS: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3
      - uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: |
          npm ci
          yarn install --no-immutable --mode=skip-build
      - name: Snyk Test
        run: |
          npx snyk monitor      --dev --yarn-workspaces --exclude="project.json,npm-shim"
          npx snyk test         --dev --yarn-workspaces --exclude="project.json,npm-shim"
      - name: Snyk Code
        continue-on-error: true
        run: |
          mkdir -p sarifs
          npx snyk code test    --dev --all-projects --exclude="project.json,npm-shim" --sarif > ./sarifs/snyk-code.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@678fc3afe258fb2e0cdc165ccf77b85719de7b3c # v2
        with:
          sarif_file: ./sarifs
      - name: Check Code Scanning alerts
        run: node ./scripts/get-code-scanning-alerts.js
  release:
    needs: snyk
    environment: 'Release'
    runs-on: macos-latest
    env:
      GITHUB_CREDENTIALS: ${{ secrets.CLI_RELEASE }}
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3
        with:
          # pulls all commits (needed for computing the next version)
          fetch-depth: 0
      - uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3
        with:
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Setup credentials
        run: |
          git config --global user.email action@github.com
          git config --global user.name GitHub Action
      - name: Setup git SSH remote
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "${DEPLOY_KEY}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa
          echo "Host coveo-cli" > ~/.ssh/config
          echo "Hostname github.com" >> ~/.ssh/config
          echo "PreferredAuthentications publickey" >> ~/.ssh/config
          echo -n "IdentityFile " >> ~/.ssh/config
          echo -n ~ >> ~/.ssh/config
          echo "/.ssh/id_rsa" >> ~/.ssh/config
          git remote set-url origin git@coveo-cli:coveo/cli.git
      - name: Release
        run: npm run release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          VERSION: ${{ inputs.version }}
          DEBUG: ${{ inputs.debug && '*' || '' }}
