name: 'Renovate Config Validator'

on:
  push:
    branches: [master]
    paths:
      - 'renovate.json'
  pull_request:
    branches: [master]
    paths:
      - 'renovate.json'

jobs:
  renovate-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Check Renovate config
        run: |
          npm i renovate
          node_modules/.bin/renovate-config-validator
