name: Snyk
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2
      - uses: actions/setup-node@1f8c6b94b26d0feae1e387ca63ccbdc44d27b561 # renovate: tag=v2
      - name: Prepare snyk
        run: |
          npm i
          npm run snyk:prepare
      - name: Snyk test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          npx snyk monitor  --dev --all-projects --exclude="project.json"
          npx snyk test     --dev --all-projects --exclude="project.json" --sarif-file-output=./sarifs/snyk.sarif
          npx snyk code     --dev --all-projects --exclude="project.json" --sarif-file-output=./sarifs/snyk-code.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v1
        if: always()
        with:
          sarif_file: ./sarifs
